{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'passgen/styles.css' %}">

	<title>Password</title>
</head>
<body>
	<a class="backButton" href="{% url 'index' %}">New password</a>
	<div class="titleContainer">
		<h1 class="title">Password Generator</h1>
	</div>

	<div class="card">
		<p class="password">{{ password }}</p>
	</div>
</body>
</html>